nav {
    padding: 10px;
    background-color: var(--backgroundColor);
    border-top: solid 4px var(--borders);
    border-bottom: solid 4px var(--borders);
}

a:hover {
    cursor: pointer;
    color: var(--hoverColor);
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}